/* You can add global styles to this file, and also import other style files */
nav, header, footer, aside {
  text-align: center;
}

footer, aside {
  padding: 10px;
  background-color: #eeeeee;
}

header, aside, main{
  margin-bottom: 20px;
}
footer {
  margin-top: 20px;
}